.form {
  width: 24rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5rem auto;
}

.login-form > h1,
.signup-form > h1 {
  font-size: 1.7rem;
}

.welcome-msg,
.input-name {
  color: var(--shadow-color);
  margin: 0.5rem 0;
}

.input-box {
  padding: 0.5rem;
  width: 100%;
  border-bottom: 1px solid var(--black-color);
  outline: none;
}

button {
  margin: 1rem 0 0.5rem 0;
}

.forgot-password-link {
  margin-top: 1rem;
}

.sign-up-link {
  text-align: center;
}

.signup-form h1 {
  margin-bottom: 1rem;
}

a {
  margin-top: 1rem;
}

.signup-btn {
  margin-top: 2rem;
}

.logout-container {
  width: 40vw;
  border: 2px solid;
  padding: 1rem;
  margin: 10rem auto;
}

.logout-msg {
  margin-bottom: 1.5rem;
}
