.form {
  width: 24rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 5rem auto;
}

.login-form > h1,
.signup-form > h1 {
  font-size: 1.7rem;
}

.welcome-msg,
.input-name {
  color: var(--shadow-color);
  margin: 0.5rem 0;
}

.input-box {
  background: var(--white-color);
  border: 1px solid var(--primary-color);
  padding: 0.6rem 0.7rem;
  float: left;
  font-size: 0.8rem;
  margin: 5px 0;
  width: 25vw;
  transition: 0.3s all ease;
  outline: none;
  border-radius: 2px;
}

button {
  margin: 1rem 0 0.5rem 0;
  max-width: 100%;
}

.forgot-password-lin10 {
  margin-top: 1rem;
}

.sign-up-link {
  text-align: center;
}

.signup-form h1 {
  margin-bottom: 1rem;
}

a {
  margin-top: 1rem;
}

.signup-btn {
  margin-top: 2rem;
}

.logout-container {
  width: 40vw;
  border: 2px solid;
  padding: 1rem;
  margin: 10rem auto;
}

.logout-msg {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .login-form .input-box {
    width: 80vw;
  }
}
