.right-nav .logout-btn:hover {
  color: var(--white-color);
}

@media only screen and (max-width: 600px) {
  .right-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
