.container-image .btn-wishlist {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  position: absolute;
  top: 8px;
  right: 5px;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  border-radius: 5rem;
}

.card .card-image .badge {
  color: var(--black-color);
}

.slider-range-value {
  flex-wrap: nowrap;
}

.slider-range-value {
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.price-tag {
  font-size: 0.8rem;
}

.card {
  width: 14rem;
  text-align: left;
}

.quantity-section {
  margin: 0.5rem 0;
}

.quantity-section .decrement-btn,
.quantity-section .increment-btn {
  height: 30px;
  width: 30px;
  margin: 0;
  font-size: 1.4rem;
  padding: 0.1rem;
  align-items: center;
  color: var(--white-color);
  background-color: var(--black-color);
}

.quantity-section > .item-qty {
  height: 30px;
  width: auto;
  font-size: 1.2rem;
  padding: 0 0.4rem;
  margin: 0 0.5rem;
  border: 1px solid var(--black-color);
}

.card-description .quantity-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-description .product-description {
  color: var(--shadow-color);
  font-size: 0.8rem;
}

.card-description .product-rating {
  background-color: #000;
  max-width: 33px;
  padding: 3px 5px;
  color: #fff;
  border-radius: 0.2rem;
  font-size: 10px;
}

.card-cta .secondary-btn .fa-shopping-cart {
  color: var(--white-color);
}

@media only screen and (max-width: 600px) {
  .product-section {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
}
