.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftNav .brandname {
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}

.navbar-item {
  color: var(--black-color);
  margin-left: 0.2rem;
}

.search-bar > input {
  max-width: 18vw;
  border-radius: 5rem;
  border: none;
}

.right-nav {
  display: flex;
  flex-direction: row;
}

.right-nav .list-item {
  margin-right: 0;
}

@media only screen and (max-width: 600px) {
  .navbar-item {
    display: none;
  }
}
